@tailwind base;
@tailwind components;
@tailwind utilities;

.searchField {
    .MuiInputBase-root.MuiInput-root::before {
        border-bottom: none !important;
    }

    .MuiInputBase-root.MuiInput-root::after {
        border-bottom: none !important;
    }
    
    .MuiInputBase-root.MuiInput-root{
       font-size: 14px;
       color: black;
    }
}